---
import Container from '../Container.astro';
---

<section id="Welcome" class="relative py-t6 md:pt-28 lg:pt-36 bg-[#E6E7EB]">
  <!-- <img
    src="images/face.svg"
    alt=""
    class="absolute bottom-0 lg:right-0 h-96 lg:h-full max-lg:right-2/4 max-lg:translate-x-1/2 ma"
  /> -->

  <Container>
    <div class="flex max-lg:flex-col max-lg:gap-20">
      <div class="relative z-10 max-w-xl mx-auto w-fit text-black/50 lg:mb-10">
        <h3
          class="max-lg:pt-10 text-5xl lg:text-7xl font-bold font-sans max-lg:text-center max-lg:mx-auto bg-gradient-to-br from-black/50 to-black bg-clip-text text-transparent"
        >
          We are Zion Titles
        </h3>
        <br />
        <p class="text-justify max-lg:text-center">
          At Zion Titles, we are dedicated to transforming the way individuals and businesses navigate the title
          landscape. With our expertise and innovative solutions, we empower our clients to achieve their title-related
          goals and secure a prosperous future.
        </p>
        <br />
        <p class="text-justify max-lg:text-center">
          Our company is built on a foundation of trust, integrity, and professionalism. We understand that each client
          has unique needs and aspirations, which is why we take a personalized approach to title services. By carefully
          listening to your objectives, we tailor our strategies to fit your specific circumstances, ensuring maximum
          effectiveness and long-term success.
        </p>
        <br />
        <br />
        <div class="max-lg:flex max-lg:justify-center">
          <a
            class="bg-gradient-to-br transition from-black/50 to-black rounded hover:scale-105 cursor-pointer px-6 py-3 text-white"
            href="#Footer">Get a consultion</a
          >
        </div>
      </div>
      <div class="flex items-end">
        <img
          src="https://res.cloudinary.com/dprlq5xzn/image/upload/v1705594795/attractive_man_standing_alone_on_transparent_background_looking_joyful_g_1_3_1_1_ij9txk_1af4b2.png"
          class="w-[90%]"
          alt=""
        />
      </div>
    </div>
  </Container>
</section>
