---
import Hero from '@/components/Index/Hero.astro';
import Layout from '../layouts/Layout.astro';
import SectionThree from '@/components/Index/SectionThree.astro';
import SectionOne from '@/components/Index/SectionOne.astro';
import SectionTwo from '@/components/Index/SectionTwo.astro';
---

<Layout title="Zion Titles">
  <main class="overflow-hidden">
    <Hero />
    <SectionOne />
    <SectionTwo />
    <!-- <SectionThree /> -->
  </main>
</Layout>
