---
import Container from '../Container.astro';
---

<section id="Welcome" class="relative py-16 md:py-28 lg:py-36 bg-[#E6E7EB] min-h-[900px]">
  <!-- <img
    src="images/face.svg"
    alt=""
    class="absolute bottom-0 lg:right-0 h-96 lg:h-full max-lg:right-2/4 max-lg:translate-x-1/2 ma"
  /> -->

  <Container>
    <div class="flex max-lg:flex-col-reverse">
      <div class="relative z-10 lg:w-2/4 max-md:pb-[340px] text-black/50">
        <h3
          class="text-7xl font-bold font-sans max-lg:text-center max-lg:mx-auto bg-gradient-to-br from-black/50 to-black bg-clip-text text-transparent"
        >
          We are Zion Titles
        </h3>
        <br />
        <p class="text-justify max-lg:text-center">
          At Zion Titles, we are dedicated to transforming the way individuals and businesses navigate the title
          landscape. With our expertise and innovative solutions, we empower our clients to achieve their title-related
          goals and secure a prosperous future.
        </p>
        <br />
        <p class="text-justify max-lg:text-center">
          Our company is built on a foundation of trust, integrity, and professionalism. We understand that each client
          has unique needs and aspirations, which is why we take a personalized approach to title services. By carefully
          listening to your objectives, we tailor our strategies to fit your specific circumstances, ensuring maximum
          effectiveness and long-term success.
        </p>
        <br />
        <br />
        <div>
          <a
            class="bg-gradient-to-br from-black/50 to-black rounded hover:scale-105 cursor-pointer px-6 py-3 text-white"
            href="#Footer">Get a consultion</a
          >
        </div>
      </div>
      <div class="m-auto">
        <img src="images/face.svg" class="m-auto" alt="" />
      </div>
    </div>
  </Container>
</section>
