---
import Container from '../Container.astro';
---

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const containerGrid = document.getElementById('containerGrid');
    const showMoreButton = document.getElementById('showMoreButton');

    function showMoreButtonHandler() {
      if (containerGrid) containerGrid.style.maxHeight = '100%';
      if (showMoreButton) showMoreButton.style.display = 'none';
    }

    showMoreButton && showMoreButton.addEventListener('click', showMoreButtonHandler);
  });
</script>

<section id="Gallery" class="relative py-20">
  <Container>
    <h4 class="text-6xl text-center drop-shadow-lg text-gray-800 font-semibold font-sans mb-12">Gallery</h4>
    <article
      id="containerGrid"
      class={`grid lg:grid-cols-3 gap-6 overflow-hidden max-lg:max-h-[550px]`}
      data-aos="fade-up"
    >
      {Array.from({ length: 6 }, (itm) => <div class="bg-gray-300 rounded aspect-square" />)}
    </article>
    <div>
      <button
        id="showMoreButton"
        class="lg:hidden bg-blue-400 px-5 py-2 mx-auto block rounded-full capitalize font-semibold mt-4"
        onclick="showMoreButton()">show more</button
      >
    </div>
  </Container>
</section>
